// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.divided.items {
  position: relative;
  top: 17vh;
  left: 17rem;
  margin: 0;
  width: 89rem;
}
